* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to right, rgb(67, 124, 205), rgb(69, 214, 202));
    text-align: center;
    width: 50%;
    min-width: 500px;
    margin: auto;
    color: black;
    font-size: 20px;
    font-family: 'Constantia';
}

h1 {
    padding: 10px;
    margin-top: 20px;
}

#button {
    width: 100px;
    height: 50px;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.863);
    color: black;
    margin: 20px;
    font-size: 19px;
    box-shadow: 2px 2px 2px black;
    transition: 600ms;
}

.meal_name {
    border: 1.5px solid black;
    background: whitesmoke;
    border-radius: 10px;
    padding: 10px;
    margin-right: 20px;
    margin-left: 20px;
    box-shadow: rgba(0, 0, 0, 0.403) 0px 10px 20px;
    display: flex;
    justify-content: space-around;
}

#option_box {
    padding: 10px;
    display: flex;
    justify-content: space-around;
}

.meal {
    overflow: hidden;
    transition: height 0.5s ease;
    border: 1px solid black;
    padding: 10px;
    width: 50%;
    border-radius: 20px;
    background: white;
    font-size: 15px;
    margin: 10px;
    box-shadow: rgba(0, 0, 0, 0.403) 0px 10px 20px;
    transition: 600ms;
}

.change_button {
    padding-left: 5px;
    padding-right: 5px;
    transition: 600ms;
}

.meal:hover,
#button:hover {
    background: rgb(216, 214, 214);
}